<div class="container-fluid py-6">
		<div class="row">
			<div class="col-md-6 offset-md-3 text-black">
				<h2 class="font-weight-bold">
					Looking for a song?
				</h2>

        <%= render "spotify/search_form" %>        

			</div>
		</div>
	</div>